.footer{
  display: flex;
  justify-content: center;
}

.iconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

.lilDot  {
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: #FDE36D;
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: 200ms;
}

.iconContainer:hover > .lilDot {
  height: 60px;
  width: 60px;
  opacity: 0.85;
}

.footIcon {
  height: 35px;
  width: 45px;
  margin: 20px;
}

#homeIcon {
 background-image: url(../img/homeDark.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

#githubIcon {
 background-image: url(../img/githubDark.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

#codepenIcon {
 background-image: url(../img/codepenDark.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

#twitterIcon {
 background-image: url(../img/twitterDark.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

#linkedinIcon {
 background-image: url(../img/linkedinDark.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
