.portPieces{
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#calculator {

}

#tic-tac-toe {

}

#driftwood {

}

#airplane{

}

#nasa {

}

#welcome {

}

.portfolioPiece {
  height: 150px;
  width: 300px;
  border: 1px solid black;
  margin: 25px;
}

.portfolioPiece:hover {
  background-color: black;
}
